@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html, body {
    /* Запрет скролла всей страницы при свайпах, если нужно более нативное поведение */
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Учет Safe Area для всего приложения */
body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: var(--background);
  color: var(--foreground);
}